* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', "Helvetica Neue", Helvetica, sans-serif;
}

.logo {
    width: 80px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 16px;
}

h2 {
    font-weight: 400;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    margin: 50px 0px;
}

section p {
    max-width: 900px;
    font-size: 1.2rem;
    opacity: .8;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 4rem;
    letter-spacing: .3rem;
}

.cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1250px;
    flex-wrap: wrap;
    gap: 75px 45px;
    margin-top: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 43.5%;
    height: 300px;
    padding: 16px 18px;
    outline: 3px solid #FFFF00;
    border: 3px solid black;
    border-radius: 15px;
    position: relative;
    transition: .3s ease;
}

.card-content-wrapper {
    display: flex;
    gap: 15px;
}

.text-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: right;
    width: 60%;
}

.card-content p {
    font-size: .8rem;
    opacity: .8;
}

.card-content h2 {
    font-size: 1.5rem;
}

.card img {
    border-radius: 10px;
    width: 40%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border: 2px solid black;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90%;
}

.links i {
    font-size: 2rem;
}

@media screen and (max-width: 1060px) {
    .cards-container {
        flex-direction: column;
    }

    .card {
        width: 80%;
        height: 350px;
    }

    .text-content h2 {
        font-size: 1.8rem;
    }

    .text-content p {
        font-size: 1rem;
    }

}

.card::before {
    content: '';
    border: 6px solid #FFFF00;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border-radius: 15px;
    position: absolute;
    inset: -6px;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    transition: .3s ease;
}


.card:hover::before {
    opacity: 1;
}
